.pagetable > tr > td {
    width: auto;
}
.result {
    text-align: center;
    /* height: 15%; */
    width: 15%;
}
.result-img-holder {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.results-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: flex-start;
    align-items: stretch;
}
.img-result {
    width: 100px;
    height: 100px;
}
a:visited, a {
    color: blue;
}
.top-arrow {
    margin: 10px;
    font-size: 1.2em;
}
img.star {
    width: 15px;
}
.result-attribute {
    margin: 2px auto;
    display: block;
}
h3.result-name {
    font-size: 0.9em;
}
h1 {
    font-size: 3em;
}
h2.main {
    text-align: center;
    margin: 30px;
    font-size: 2em;
}
.result.new {
    box-shadow: 0 0 20px 10px gold;
    order: -5;
}
.result.different {
    box-shadow: 0 0 10px 5px #ff3366;
    order: -3;
}