.pagetable > tr > td {
    width: auto;
}
#results .result {
    text-align: center;
    /* height: 15%; */
    width: 15%;
}
#results .result.clickable {
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}
#results .result.clickable:hover {
    transform: scale(1.12);
}
#results .result-img-holder {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
#results .results-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: flex-start;
    align-items: stretch;
}
#results .img-result {
    width: 100px;
    height: 100px;
}
#results img.star {
    width: 15px;
}
#results .result-attribute {
    margin: 2px auto;
    display: block;
}
#results h3.result-name {
    font-size: 0.9em;
}
#results .result.new {
    box-shadow: 0 0 20px 10px gold;
    order: -5;
}
#results .result.different {
    box-shadow: 0 0 10px 5px #ff3366;
    order: -3;
}
a:visited, a {
    color: blue;
}
.top-arrow {
    margin: 10px;
    font-size: 1.2em;
}
h1 {
    font-size: 3em;
}
h2.main {
    text-align: center;
    margin: 30px;
    font-size: 2em;
}
#popup {
    display: none;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}
#popupResults {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#popupResults .result {
    width: 50%;
}