article {
    display: flex;
    flex-direction: column;
}

article > h2, article > p {
    flex: 0 1 auto;
}

article {
    /* 2x body padding, 2x article padding */
    height: calc(100vh - 2 * 8px - 2 * 15px)
}

ul {
    margin: 4px;
}

#status-container {
    flex: 1 1 auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 1fr;
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#card-output {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    min-height: 100%;
    overflow: auto;
    gap: 5px;
}
#card-output > * {
    /* flex: 1 1 21%; */
    width: 24%;
    max-height: 40%;
}

#connections {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100%;
    height: 0;
    overflow-y: auto;
}

#results {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 5px;
    padding: 5px;
}
#results > * {
    width: 24%;
    font-size: 0.6em;
}

.connections-group {
    background-color: #252525;
    padding: 15px;
    border-radius: 15px;
}
.connect-3 {
    color: yellow;
}
.connect-4 {
    color: green;
}
.connect-5 {
    color: orange;
}
.connect-ignore {
    color: #777;
}

.result {
    margin: 0;
    cursor: pointer;
}
#card-filter {
    width: 60ch;
}
