input[type=number] {
    width: 10ch;
}
.unimported {
    order: 10;
}

#majorContainer {
}

#results, #infoContainer {
    overflow-y: auto;
}
#infoContainer #description {
    margin-right: 15px;
}
#infoContainer p + p {
    text-indent: 4ch;
}
#infoContainer h4 {
    border-bottom: 1px solid;
}
#infoContainer ul, #infoContainer ol {
    margin: 0;
}
/* #results p { */
    /* font-size: 0.7em; */
    /* line-height: 1.2em; */
/* } */

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: flex-start;
    align-items: stretch;
}
.result.small {
    text-align: center;
    /* height: 15%; */
    width: 15%;
    width: 210px;
}
#cardPreview {
    width: 25%;
    float: left;
    height: 100%;
    overflow-y: auto;
}
.card-preview {
    border-radius: 0;
    margin: 0;
    width: auto;
}
    .card-preview .star {
        width: 15px;
        height: 15px;
    }
    .card-preview .markings, .card-preview .banicon, .card-preview .importicon {
        float: right;
        text-align: right;
    }
    
#deckEditor {
    width: 43%;
    float: left;
    position: relative;
    height: 80%;
    overflow-y: auto;
}
#searchContainer, #infoContainer {
    float: left;
    width: 32%;
}

.sub-deck-container {
    margin-top: 25px;
}

.unselectable {
    /* -webkit-touch-callout: none; */
    /* -webkit-user-select: none; */
    /* -khtml-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    /* -o-user-select: none; */
    /* pointer-events: none; */
    user-select: none;
}

header > * {
    display: inline;
}

.card-preview.monster.link {
    background-size: auto;
}

.placeholder {
    transform-origin: top left;
    position: absolute;
    text-align: center;
    display: inline-block;
    background-color: red;
    margin: 10px;
}
.editor-item.dragging {
    z-index: 5;
}
.editor-item {
    text-align: center;
    display: inline-block;
    width: 813px;
    height: 1185px;
    position: absolute;
    transform-origin: top left;
    transform: scale(0.3);
    left: 0px;
    top: 0px;
    transition: filter 100ms;
    box-shadow: 0 0 100px black;
}
    .editor-item:hover, .editor-item:focus, .editor-item.focused {
        cursor: pointer;
        filter: brightness(1.5);
    }
    .editor-item .result-name {
        position: absolute;
        transform-origin: top left;
        top: 15px;
        left: 15px;
        font-size: 56px;
        max-height: 1.5em;
        white-space: nowrap;
        user-select: text;
        pointer-events: all;
    }
    .editor-item .result-attribute {
        position: absolute;
        /* transform-origin: top right; */
        top: 15px;
        right: 15px;
        width: 86px;
        height: 86px;
    }
    .editor-item .img-result {
        position: absolute;
        /* transform-origin: top left; */
        left: 15px;
        top: 100px;
        height: 763px;
        width: 763px;
    }
    .editor-item .markings .star {
        width: 60px;
        height: 60px;
    }
    .editor-item .cardicon {
        width: 250px;
        height: 250px;
    }
    .editor-item .markings {
        position: absolute;
        /* transform-origin: top right; */
        right: 15px;
        top: 890px;
    }
    .editor-item .markings.xyz {
        /* transform-origin: top left; */
        left: 15px;
        right: auto;
    }
    .editor-item .markings.spelltrap {
        right: 281.5px;
        top: 910px;
    }
    .editor-item .banicon, .editor-item .importicon {
        position: absolute;
        /* transform-origin: top left; */
        left: 0px;
        width: 250px;
        height: 250px;
    }
    .editor-item .icon0 {
        top: 100px;
    }
    .editor-item .icon1 {
        top: 350px;
    }
    .editor-item .stat {
        font-size: 80px;
        position: absolute;
        bottom: 0;
    }
    .editor-item .stat.atk {
        left: 15px;
        /* bottom: 90px; */
        /* width: 783px; */
        /* text-align: center; */
    }
    .editor-item .stat.def {
        right: 15px;
        /* width: 783px; */
        /* text-align: center; */
    }
    /*link arrows*/
    .editor-item .arrow {
        position: absolute;
    }
    .editor-item .arrow.middleLeft,
    .editor-item .arrow.middleRight
    {
        width: 60px;
        height: 242.5px;
        top: 360.25px;
    }
    .editor-item .arrow.topCenter,
    .editor-item .arrow.bottomCenter
    {
        width: 242.5px;
        height: 60px;
        left: 285.25px;
    }
    .editor-item .arrow.topLeft,
    .editor-item .arrow.topRight,
    .editor-item .arrow.bottomLeft,
    .editor-item .arrow.bottomRight
    {
        width: 107.5px;
        height: 107.5px;
        top: 100px;
    }
    .editor-item .arrow.middleLeft {
        /* transform-origin: top left; */
        left: 15px;
    }
    .editor-item .arrow.middleRight {
        /* transform-origin: top right; */
        right: 15px;
    }
    .editor-item .arrow.bottomRight {
        /* transform-origin: top right; */
        right: 15px;
        top: 775.5px;
    }
    .editor-item .arrow.bottomLeft {
        /* transform-origin: top right; */
        left: 15px;
        top: 775.5px;
    }
    .editor-item .arrow.topRight {
        /* transform-origin: top right; */
        right: 15px;
    }
    .editor-item .arrow.topLeft {
        /* transform-origin: top right; */
        left: 15px;
    }
    .editor-item .arrow.topCenter {
        /* transform-origin: top left; */
        top: 100px;
    }
    .editor-item .arrow.bottomCenter {
        /* transform-origin: top left; */
        top: 823px;
    }
    /* color redeclares */
    .result.spell {
        background: rgb(0, 134, 114);
    }
    .result.trap {
        background: rgba(162, 17, 99);
    }
    .editor-item.monster {
        background: red; /* should never be seen */
    }
    .editor-item.monster.effect {
        background: rgb(173, 76, 34);
    }
    .editor-item.monster.effect.pendulum {
        background: linear-gradient(180deg,
            rgb(173,76,34) 15%,
            rgb(0, 134, 114) 85%
        );
    }
    .editor-item.monster.ritual {
        background: rgb(75, 112, 185);
    }
    .editor-item.monster.ritual.pendulum {
        background: linear-gradient(180deg,
            rgb(75, 112, 185) 15%,
            rgb(0, 134, 114) 85%
        );
    }
    .editor-item.monster.xyz {
        background: rgb(19, 22, 25);
    }
    .editor-item.monster.xyz.pendulum {
        background: linear-gradient(180deg,
            rgb(19, 22, 25) 15%,
            rgb(0, 134, 114) 85%
        );
    }
    .editor-item.monster.fusion {
        background: rgb(125, 61, 138);
    }
    .editor-item.monster.fusion.pendulum {
        background: linear-gradient(180deg,
            rgb(125, 61, 138) 15%,
            rgb(0, 134, 114) 85%
        );
    }
    .editor-item.monster.normal {
        background: rgb(195, 148, 71);
    }
    .editor-item.monster.normal.pendulum {
        background: linear-gradient(180deg,
            rgb(195, 148, 71) 15%,
            rgb(0, 134, 114) 85%
        );
    }

    .editor-item.monster.synchro {
        background: rgb(155, 155, 156);
    }
    .editor-item.monster.synchro.pendulum {
        background: linear-gradient(180deg,
            rgb(155, 155, 156) 15%,
            rgb(0, 134, 114) 85%
        );
    }