textarea {
    width: 60%;
    height: 9em;
}

#cardNameToLinkOutput {
    white-space: pre-wrap;
}

h2 {
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: rgba(255,255,255,0.1);
    padding: 5px 10px;
    margin: 10px 0;
}