#side-by-side {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
}
.display-emoji {
    font-size: 4em;
    user-select: none;
}
.center-panel, #side-by-side div {
    text-align: center;
}
.text-preview {
    height: 7.5em;
    overflow-y: auto;
    padding: 0 8px;
    white-space: pre-wrap;
}
.result.small {
    width: 350px;
}
.result.error {
    background-color: rgb(100,0,0);
}
#bridge-output-container {
}
#bridge-output {
    display: flex;
    flex-wrap: wrap;
}
#bridge-output .result {
    
}