article {
    background-color: rgba(30,30,30,0.8);
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    /* z-index: -5; */
}
article h1 {
    font-size: 2em;
    border-bottom: 1px solid;
    margin-bottom: 6px;
}
article h1.draft {
    font-size: 3em;
    color: red;
    border-bottom: none;
}
article h2 {
    font-size: 1.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 6px;
}
article h3 {
    font-size: 1.3em;
}
article h4 {
    font-size: 1.2em;
}
article h5 {
    font-size: 1.1em;
}
article h6 {
    font-size: 1em;
}
article li > strong:first-child {
    text-decoration: underline;
}
li {
    line-height: 29px;
    /* margin-bottom: 10px; */
}
.reflink {
    opacity: 0.5;
    /* margin-left: 1ch; */
    float: left;
    margin-right: 1ch;
}
.reflink:hover {
    opacity: 1;
}
.highlight {
    background-color: rgba(255, 255, 255, 0.3);
}
pre {
    line-height: 1.2em;
    border: 1px solid white;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(60,60,60,0.8);
}
.staff-card-holder {
    display: flex;
    --accent-color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    position: relative;
    width: 250px;
    height: 325px;
    margin: 15px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.card-back .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 38px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.card-back .description p {
    padding: 0 15px;
    font-size: 14px;
    line-height: 22px;
}

.staff-card {
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    backface-visibility: hidden;
}
.staff-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    z-index: -1;
    opacity: 0.6;
}
.staff-card .pfp {
    /* max-height: 200px; */
    /* max-width: 200px; */
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 3px solid var(--accent-color);
}
.staff-card h3 {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}
.staff-card h2 {
    position: relative;
    height: 38px;
    border-color: var(--accent-color);
    /* box-sizing: border-box; */
    border-width: 3px;
}
.icons {
    position: absolute;
    right: 0;
}
.thin-icons {
    letter-spacing: -8px;
    right: 8px;
}

@keyframes jitter {
    0% { transform: translate(-1px, 0px); }
    10% { transform: translate(-1px, 1px); }
    20% { transform: translate(1px, -1px); }
    30% { transform: translate(1px, 0px); }
    40% { transform: translate(0px, 1px); }
    50% { transform: translate(-1px, -1px); }
    60% { transform: translate(-1px, 0px); }
    70% { transform: translate(1px, -1px); }
    80% { transform: translate(1px, 1px); }
    90% { transform: translate(1px, 0px); }
    100% { transform: translate(1px, -1px); }
}
