#output {
    width: 810px;
    height: 255px;
    transform: scale(1.0);
    transform-origin: top left;
    background: rgb(61,116,127);
    position: absolute;
    overflow: hidden;
}

#output .center {
    text-align: center;
}

#output > h1, #output > h2 {
    text-shadow: 0 0 15px black, 0 0 15px black, 0 0 15px black;
}
#output > h3 {
    text-shadow: 0 0 15px black, 0 0 15px black;
    font-size: 24px;
    margin: 0 10px;
}

#output hr {
    width: 80%;
    color: white;
    box-shadow: 0 0 15px black;
    /* border-style: dashed; */
}

#output {
    --card-width: 107px;
    --card-height: 155px;
    --card-scale: 0.13;
}

.gallery {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 0 10px;
}

.card-holder {
    width: var(--card-width);
    height: var(--card-height);
}

.editor-item {
    position: relative;
    transform: scale(var(--card-scale));
    margin: 0;
    box-shadow: 0 0 30px white, 0 0 30px white, 0 0 10px white;
    /* box-shadow: none; */
}

#largeContainer {
    display: flex;
    align-items: flex-start;
    width: 95vw;
    margin: 0 auto;
    justify-content: center;
}

#largeContainer > * {
    /* margin: 15px; */
    padding: 0;
}

#largeContainer article {
    width: auto;
}

#outputWrapper {
    width: 810px;
}

textarea {
    width: 350px;
}

.missing {
    opacity: 0.5;
}