ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") ". ";
}

.content {
    border-radius: 15px;
    background: rgba(0,0,0,0.5);
    padding: 20px;
}

h2 {
    text-decoration: underline;
    font-style: italic;
}

#majorContainer {
    /* width: 50%; */
    margin: 0 auto;
}